<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title><%=((typeof titulo === "undefined" || !titulo) ? "Projeto" : (titulo + " - Projeto")) %></title>

	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>
<body>
	<div id="main">
		<div id="logo">
			<a href="/"><img src="/public/images/logotipo.png" alt="Logotipo" width="200" title="Inteli"></a>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/funcionarios/listar">FUNCIONÁRIOS</a></li>
				<li><a href="/grafico">GRÁFICOS</a></li>
			</ul>
		</div>
		<div id="content">

		
	
