<%- include("../cabecalho") %>

<p style="background-color: aquamarine;">
	<% if (mensagem) { %> 
		RESULTADO: <%= mensagem %>
	<% } %>
	
</p>
<a href="/funcionarios/listar">VOLTAR</a>

<%- include("../rodape") %>
