.changes{
    color: blue;
    border-bottom: 1px solid black;
    padding: 10px 0px 20px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}
*{
    font-family: monospace;
}
.changes:hover{
    background-color: rgb(41, 32, 167);
    color: white;
}